body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "oxygen", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right, #000000 70%, #222222 100%);
  overflow: hidden;
}

p {
  letter-spacing: 1px;
}

.tools {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.overflow {
  overflow-y: scroll !important;
  overflow-x: scroll !important;
}

.link-nav a {
  font-size: 0.75rem !important;
}

.circle1 {
  position: absolute;
  width: 876px;
  height: 876px;
  left: -166px;
  top: 468px;
  background: #3f241b;
  -webkit-filter: blur(100px);
  border-radius: 50%;
  z-index: -1;
  overflow-x: "hidden";
  overflow-y: hidden;
}

.tes {
  position: absolute;
  width: 876px;
  height: 876px;
  left: 732px;
  top: -318px;
  z-index: -1;
  border-radius: 50%;
  background: #301b3f;
  filter: blur(200px);
}

.btn-shine {
  color: #ffffff;
  background: linear-gradient(to right, #fafafa 0, white 10%, #4d4d4d 0%);
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s infinite ease-in-out;
  animation-fill-mode: forwards;
  text-decoration: none;
  white-space: nowrap;
}

@keyframes shine {
  60% {
    background-position: 100px;
  }
  100% {
    background-position: 100%;
  }
}

.link-edit {
  color: inherit !important; /* blue colors for links too */
  text-decoration: inherit !important; /* no underline */
}

/* .glow {
  color: #fff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.glow:hover {
  color: #ffffff;
  text-shadow: 0px 0px 30px #ffffff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
} */

.hero {
  font-size: 4rem;
  font-weight: 700;
}

.active-link {
  color: rgba(255, 255, 255, 0.55) !important;
}

.glow::before {  
  transform: scaley(0);
  transform-origin: bottom;
}

.glow:hover::before {
  transform: scaley(1);
  transform-origin: top;
}

.glow::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: rgb(255, 255, 255);
  z-index: -1;
  transition: transform .5s ease-in-out;
}

.glow {
  position: relative;
}

.glow:hover{
  color: black!important;

}

.contact {
  color:rgba(255, 255, 255, 0.158);
  transition: color 0.5s ease-out;
}

.ld:hover {
  color: #00a0dc!important;
  /* font-size: 2.6rem;  */
}


.gh:hover {
  color: #ffffff!important; 
}

.ig:hover {
  color: #fcfcfc!important; 
}

.db:hover {
  color: #E94C88!important; 
}

.sp:hover {
  color: #4ce961!important; 
}

.demo {
  color: #6495ED!important;
}

.hl{
  color: rgb(255, 255, 255);
  /* background-color: white; */
}